.nav {
    display: flex;
    gap: 5%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #1e1e1e;
}

    .nav li {
        flex-grow: 1;
        padding: 20px;
        text-align: center;
        transition: 0.3s;
    }

        .nav li:hover {
            background: linear-gradient(#1e1e1e 80%, #0cbc33 100%);
        }

    .nav a {
        color: #fafafa;
        font: bold;
        text-decoration: none;
    }