.layout-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 12px;
    overflow: hidden;
}

.layout-content {
    position: relative;
    height: 100%;
}

.layout-button {
    color: white;
}

.menu-button {
    height: 100%;
    border: 0;
    font-size: 1.2rem;
}