.edu-container {
    display: flex;
    flex-direction: column;
}

.edu:hover {
    border-top: 1px solid #0cbc33;
    border-bottom: 1px solid #0cbc33;
}

.edu-header {
    display: flex;
    gap: 3vw;
    align-items: center;
    font-size: 1.5rem;
}

.edu-logo {
    height: 7vh;
    width: 7vw;
}

.edu-school {
    
}

.edu-duration {
    display: flex;
    gap: 5px;
    margin-left: auto;
}

.edu-description {
    text-align: justify;
}