html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100dvh;
    width: 100vw;
    min-width: 414px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
}