html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: unset;
    overflow: hidden;
    min-width: 550px;
}

@media only screen and (max-width: 768px) {

    .body {
        font-size: .8rem;
    }
}